<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Bioskop</h2>
                <br>
                <form th:action="@{/bioskop/add}" th:object="${bioskop}" method="POST"  >
                    Nama Bioskop : <br>
                    <input required class="form-control" type="text" name="namaBioskop"  th:attr="value=${bioskop.namaBioskop}" />
                    <br><br>

                    Alamat Bioskop: <br>
                    <input required class="form-control" type="text" name="alamatBioskop" th:attr="value=${bioskop.alamatBioskop}" />
                    <br><br>

                    Jumlah Studio : <br>
                    <input required min="0" class="form-control" type="number" name="jumlahStudio" th:attr="value=${bioskop.jumlahStudio}"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" th:attr="value=${bioskop.waktuBuka}"/>
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" th:attr="value=${bioskop.waktuTutup}"/>
                    <br><br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nama Film</th>
                            <th><button class="btn btn-primary align-content-center align-items-center" type="submit" name="addfilm" value="addfilm">Tambah Row</button></th>
                        </tr>
                        </thead>
                        <tbody th:if="${adaFilm}">
                        <tr th:each="i: ${#numbers.sequence(0, counter - 1)}">
                            <td>
                                <select name="film_bioskop"
                                        class="form-control" th:field="*{listFilm}">
                                    <option th:each="film : ${listFilm}"
                                            th:value="${film.noFilm} "
                                            th:text="${film.namaFilm}"
                                    ></option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-danger align-content-center align-items-center" type="submit" name="deletefilm" value="deletefilm">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>







<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Nama Film</th>-->
<!--                            <th><button class="btn btn-primary align-content-center align-items-center" type="submit" name="addfilm" value="addfilm">Tambah Row</button></th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr th:each="tempFilm : ${filmTemp}">-->
<!--                            <td th:if="${adaFilm}">-->
<!--                                Film : <br>-->
<!--                                <select name="film_bioskop_temp"-->
<!--                                        class="form-control" th:if="${filmTemp}" >-->
<!--                                    <th:block th:each="tempFilm : ${filmTemp}">-->
<!--                                    <option  th:each="film : ${listFilm}"-->
<!--                                            th:value="${film.noFilm}"-->
<!--                                            th:text="${film.namaFilm}" th:selected="${film.noFilm == tempFilm.noFilm}"></option>-->
<!--                                    </th:block>-->
<!--                                </select>-->

<!--                        </tr>-->

<!--                        <tr>-->
<!--                            <td th:if="${adaFilm}">-->
<!--                                Film : <br>-->
<!--                                <select name="film_bioskop"-->
<!--                                        class="form-control" >-->
<!--                                    <option th:each="film : ${listFilm}"-->
<!--                                            th:value="${film.noFilm}"-->
<!--                                            th:text="${film.namaFilm}"></option>-->
<!--                                </select>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->

<!--                    </table>-->





                    <button class="btn btn-primary" type="submit" name="add" value="add">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">

</div>

</body>

</html>